.filter{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  
  }
  .filter__row-input-holder{
    width: 100%;
  }
  .filter__row-text-holder{
    width: 75px;
  }
  .filter__input{
    width: 100%;
    height: 30px;
  }