
.feed{
  max-width: 100%;
  height: 100%;
  padding: 10px;
  
}

.tabs{
  
  border-top-left-radius: 10px;
  
}
/* .tabs__content{
  z-index: 1;
  position: fixed;
  background-color: whitesmoke;
  width: 400px;

}
.tabs +.posts{
  padding-top: 100px;
} */


.sidebar{
  padding-left:10px;
  height: 100%;
  width:100%;
  
}
.sidebar__content{
  position: fixed;
}
.filter{

  margin-bottom: 10px;

}
.loginpage{
  /* background-image: url('./assets/background-img2.gif'); */
  background-color: white;
  height: 100vh;
  
  background-size: cover;
  /* color:#5499FF; */
  color:white;
}
.loginpage-animated{
  background-image: url('./assets/background-img2.gif');
}
.loginpage__title{
  text-shadow: 1px 1px 10px whitesmoke;
  font-size: 3rem;
}
.navigation{
  position: fixed!important;
  width: 100%;
  
  z-index: 1;
}
.navigation + * {
  padding-top: 60px;
}
.space{
  padding:10px;
  width:30%;
  height: 100vh;
}
.nav__theme-toggle{
  text-transform: capitalize;
  padding-right: 10px;
  display: inline-block!important;
  color:inherit!important;
}
.btn__post-form{
  position: absolute;
  right:10px;
  bottom:10px;
}
.postform__form{
  padding: 10px;
  height: 100%;
  border-radius: 20px;
  padding-bottom: 15px;
}
.postform{
  position: relative;
}
.post{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(162, 162, 196);
  min-height: 100px;
  display: flex!important;
  flex-direction: row;
  justify-content: center;
}
.post__profile-photo-container{
  width:100%;
  min-width: 100px;
  height:auto;
}
.post__profile-photo{
  width:100%;
  height: 100%;
  border-radius:10px;
  padding: 10px;
}

.post__header{
  font-weight: bold;
}
.post__header, .post__body{
  background-color: transparent!important;
  border: none!important;
}
.postform__form-text-area{
  height: 150px;
}
.link-container{
  margin-bottom: 25px;
}
.link{
  text-decoration: none;
}
.tabs{
  border-bottom: none!important;
}


@media screen and (max-width:992px){
  .hide-mobile{
    display: none;
  }
}
@media screen and (min-width:993px){
  .nav__hamburger-menu{
    display: none;
  }
}
